/* ----extra small ------ */

@media (min-width: 0px) and (max-width: 575.98px) {
    
  
    
    
    
    
    
    
    
    
    
    
    .main_menu .logo {
        width: 45px;
    }

    .nav_btn {
        display: block;
    }

    .main_menu .items {
        font-size: 12px;
        gap: 9px;
    }

    .main_menu .sing_up {
        gap: 14px;
        margin-top: 10px;
    }

    .main_menu .sing_up a {
        font-size: 13px;
        padding: 11px 14px;
        border-radius: 10px;

    }

    .banner_img.aos-init.aos-animate {
        width: 100%;
    }

    #banner .banner_txt {
        width: 100%;
        padding-top: 286px;
    }

    #banner .banner_txt h1 {
        font-size: 32px;
        margin-top: 21px;
    }

    #banner .banner_txt span {
        font-size: 35px;

    }

    #banner .banner_txt .line {
        width: 100%;
        margin-top: 28px;
    }

    #banner .banner_txt p {
        width: 100%;
        font-size: 16px;

        margin-top: 15px;
    }

    #section1 .sec1_items .sec_item {
        width: 200px;


        margin: 0 auto;
        margin-bottom: 15px;
    }


    .shoping2 {

        flex-wrap: wrap;
    }

    .sub_hover {
        height: 87%;

        width: 45px;
        font-size: 19px;

        padding: 12px;

    }

    .shoppp .main_hover {
        width: 232px;
    }

    .main_hover a {

        font-size: 14px;
        margin-left: -12px;

    }

    #banner .banner_txt .shoping2 p {
        width: 100%;
        font-size: 14px;

    }

    #info .info_txt h1 {
        font-size: 31px;

    }

    #info .info_txt p {
        font-size: 14px;

        padding-top: 18px;
    }

    #info .info_img {
        width: 100%;
        margin-top: 9px;
    }


    #info .info_t {

        gap: 21px;

        padding-left: 15px;
        padding-top: 27px;
    }

    #info .info_t h2 {
        font-size: 12px;
        font-weight: 400;
    }

    #info .info_t img {
        width: 20px;
        margin-right: 1px;
    }

    #motor {
        padding-top: 90px;
    }

    #motor .motor_txt h1 {
        font-size: 31px;

    }

    #motor .motor_txt p {
        font-size: 13px;

        padding-top: 15px;

    }

    #motor .motor_img {
        width: 100%;
        margin-top: 15px;
    }

    #section1 {
        padding-top: 5px;
    }

    #Accessories {
        padding-top: 85px;
    }

    #Accessories .Accessories_txt h1 {
        font-size: 31px;
    }

    #section1 .sec1_items .sec_item {
        width: 100%;

        margin-bottom: 15px;
    }

    .Accessories_items h1 {
        font-size: 22px;

        padding-top: 42px;

    }

    .Accessories_itemss {

        flex-wrap: wrap;
    }

    .Accessories_itemss .accesories_img {
        width: 100%;
        margin-top: -100px;
    }


    .Accessories_items img {
        width: 20px;
        margin-right: 4px;
    }

    .Accessories_items h2 {
        font-size: 12px;

        padding-bottom: 26px;

    }

    .accesories_p2 {

        gap: 5px;
        margin-top: 65px;

    }

    .p2 h1 {
        width: 100%;
        font-size: 23px;
        margin-top: 25px;

        margin-bottom: 31px;
    }

    .p2 img {
        width: 20px;
        margin-right: 4px;
    }



    .p2 h2 {
        width: 100%;
        padding-bottom: 33px;
    }

    .accesories_p2 {
        flex-wrap: wrap;
    }

    .p2 h2 {

        font-size: 13px;

        padding-bottom: 20px;

    }

    .acce_more_items {
        width: 244px;
        height: 57px;

        border-radius: 15px;

        margin-top: 34px;
    }

    .acce_more_items a {
        font-size: 15px;

    }




    #gallary {
        padding-top: 20px;
    }


    #gallary .gallary_txt h1 {
        font-size: 25px;

    }

    #gallary .gallary_txt p {
        font-size: 12px;

        padding-top: 15px;

    }

    #gallary .gallary_img1 {
        width: 100%;
        padding-top: 1px;
        padding-bottom: 55px;
    }


    #gallary .gallary_boxs .box1 {
        width: 190px;
        height: 57px;

        margin-bottom: 20px;

    }

    .box1 a {
        font-size: 15px;

    }



    #gallary .gallary_boxs .box2 {
        width: 190px;
        height: 57px;

        margin-bottom: 20px;

    }

    .box2 a {
        font-size: 15px;

    }

    #gallary .gallary_boxs .box3 {
        width: 190px;
        height: 57px;



    }

    .box3 a {
        font-size: 15px;

    }

    .gallary_img .img2 {
        width: 100%;
        padding-top: 60px;
    }

    .gallary_img .img3 {
        width: 100%;
        padding-top: 45px;
    }

    #color {
        padding-top: 60px;
    }

    #color .container {
        padding: 0%;
    }

    #color .color_txt p {
        font-size: 10px;

    }

    .col-lg-12.col_nav {
        width: 331px;
    }

    #color .color_txt h1 {
        font-size: 25px;

    }

    #color .color_txt p {
        font-size: 13px;

        padding-top: 10px;
    }

    .main_color_slide {
        margin-top: 2px;
    }

    .sliding_imgs {
        position: absolute;
        top: 162px;

    }

    .blu1 img {
        width: 45px;
        display: none;
    }


    #test {

        margin-top: 58px;
        padding-top: 51px;
        padding-bottom: 80px;


    }

    #test .test_txt h1 {
        font-size: 26px;

    }

    .test_main_slider .single_slider {
        width: 100%;
        padding: 52px 22px 54px 34px;
        border: 1px solid #D8D8D8;
    }

    .single_slider p {
        font-size: 16px;

    }

    .test_main_slider .single_slider {

        padding: 52px 22px 17px 34px;

    }

    .slide_profile2 {

        margin-top: 34px;
    }

    .fa-solid.arrow.nxt.fa-arrow-right.slick-arrow {
        margin-right: -38px;
        margin-top: -12px;
    }

    .fa-solid.arrow.pre.fa-arrow-left.slick-arrow {
        margin-left: -41px;
        margin-top: -12px;

    }

    #subscribe .subscribe_txt h1 {
        font-size: 26px;

    }


    #subscribe {
        margin-top: 45px;
    }

    #subscribe .subscribe_txt p {
        font-size: 13px;

        padding-bottom: 0px;
    }


    .subscribe_submit input {
        width: 257px;
        padding-top: 18px;
        padding-bottom: 14px;
        padding-left: 16px;

        margin-bottom: 20px;
    }

    .subscribe_submit .email {
        font-size: 13px;

    }

    .subscribe_submit button {
        font-size: 14px;

        padding: 15px 28px;

        margin-left: 12px;

    }

    .future_img {
        width: 100%;
    }

    #future {
        margin-top: 145px;
        padding-top: 190px;
    }

    .future_about {
        text-align: center;
    }

    #future .future_about h2 {
        font-size: 24px;

        margin-bottom: 27px;
    }

    #future .future_about .about a {
        font-size: 13px;
    }

    #future .future_about .about {

        gap: 15px;
    }

    .future_about1 {

        margin-top: 60px;
    }

    #future .future_about1 h2 {

        margin-bottom: 27px;
    }

    #future .future_about1 .about a {
        font-size: 12px;

    }

    #future .future_about1 .about {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    #future .future_about2 h2 {

        margin-bottom: 27px;
        margin-top: 60px;
    }

    .future_about2 {
        text-align: center;
    }

    #future .future_about2 .about a {
        font-size: 12px;

    }

    #future .future_about2 .about {

        gap: 18px;
    }

    .future_logo {

        margin: 45px auto auto 82px;
    }

}




/* small-------------------- */

@media (min-width: 576px) and (max-width: 767.98px) {



    .nav_btn {
        display: block;
    }

    .card.card-body {

        margin-left: 181px;
    }

    .main_menu .items {
        font-size: 13px;

        gap: 20px;

    }

    .main_menu .sing_up a {
        font-size: 12px;

        padding: 12px 16px;

        border-radius: 8px;

        margin-top: 20px;
    }

    [data-aos^="fade"][data-aos^="fade"].aos-animate {

        width: 100%;
    }











    #banner .banner_txt {
        width: 100%;
        margin-top: 522px;
    }

    #banner .banner_txt h1 {
        font-size: 54px;

    }


    #banner .banner_txt span {
        font-size: 54px;

    }

    #banner .banner_txt .line {
        width: 100%;
        margin-top: 28px;
    }

    #banner .banner_txt p {
        width: 100%;
        font-size: 18px;

        margin-top: 25px;
    }

    #section1 .sec1_items {
        width: 250px;
        margin-bottom: 15px;
        margin: 0 auto;
    }

    .shoping2 {


        gap: 0px;

    }

    .sub_hover {
        height: 87%;

        width: 45px;
        font-size: 19px;

        padding: 12px;

    }


    .single_slider .ratingicon {
        font-size: 10px;

    }

    .test_main_slider .single_slider p {
        font-size: 11px;

        margin-bottom: 8px;
    }


    .slide_profile img {
        width: 28px;
        height: 28px;
        margin-right: 15px;
    }

    .slide_profile h2 {
        font-size: 10px;
        font-weight: 600;

    }

    .slide_profile h3 {
        font-size: 10px;

        margin-top: 6px;
    }

    .slide_profile {

        align-items: center;
        margin-top: 25px;
    }

    .slide_profile2 img {
        width: 28px;
        margin-right: 15px;
        height: 28px;
    }

    .slide_profile2 h2 {
        font-size: 10px;
        font-weight: 600;

    }


    .slide_profile2 h3 {
        font-size: 10px;

    }

    .test_main_slider .single_slider {
        padding: 31px 22px 17px 34px;
    }

    .slide_profile h3 {

        margin-bottom: 5px;
    }

    .fa-solid.arrow.nxt.fa-arrow-right.slick-arrow {
        margin-right: -30px;

    }

    .fa-solid.arrow.pre.fa-arrow-left.slick-arrow {
        margin-left: -30px;
    }








    #info .info_txt h1 {
        font-size: 45px;

    }

    #info .info_txt p {
        font-size: 16px;

        padding-top: 18px;
    }

    #info .info_img {
        width: 100%;
        margin-top: 9px;
    }


    #info .info_t {

        gap: 21px;

        padding-left: 15px;
        padding-top: 27px;
    }

    #info .info_t h2 {
        font-size: 15px;
        font-weight: 300;
    }

    #info .info_t img {
        width: 25px;
        margin-right: 5px;
    }

    #motor {
        padding-top: 90px;
    }

    #motor .motor_txt h1 {
        font-size: 45px;

    }

    #motor .motor_txt p {
        font-size: 15px;

        padding-top: 15px;

    }

    #motor .motor_img {
        width: 100%;
        margin-top: 15px;
    }

    #section1 {
        padding-top: 5px;
    }

    #Accessories {
        padding-top: 85px;
    }

    #Accessories .Accessories_txt h1 {
        font-size: 45px;
    }

    #section1 .sec1_items .sec_item {
        width: 100%;

        margin-bottom: 15px;
    }

    .Accessories_items h1 {
        font-size: 15px;

        padding-top: 42px;

    }

    #Accessories .Accessories_txt p {
        font-size: 15px;

        padding-top: 17px;
    }

    .Accessories_itemss {

        flex-wrap: wrap;
    }

    .Accessories_itemss .accesories_img {
        width: 100%;
        margin-top: -100px;
    }


    .Accessories_items img {
        width: 25px;
        margin-right: 6px;
    }

    .Accessories_items h1 {
        font-size: 27px;
        padding-top: 42px;
    }

    .Accessories_items h2 {
        font-size: 14px;
        padding-bottom: 25px;
    }

    .accesories_p2 {

        gap: 5px;
        margin-top: 65px;

    }

    .p2 h1 {
        width: 100%;
        font-size: 27px;
        margin-top: 25px;

        margin-bottom: 31px;
    }

    .p2 img {
        width: 25px;
        margin-right: 6px;
    }



    .p2 h2 {
        width: 100%;
        padding-bottom: 33px;
    }

    .accesories_p2 {
        flex-wrap: wrap;
    }

    .p2 h2 {

        font-size: 14px;

        padding-bottom: 20px;

    }

    .acce_more_items {
        width: 244px;
        height: 57px;

        border-radius: 15px;

        margin-top: 34px;
    }

    .acce_more_items a {
        font-size: 15px;

    }




    #gallary {
        padding-top: 20px;
    }


    #gallary .gallary_txt h1 {
        font-size: 45px;

    }

    #gallary .gallary_txt p {
        font-size: 15px;

        padding-top: 15px;

    }

    #gallary .gallary_img1 {
        width: 100%;
        padding-top: 1px;
        padding-bottom: 55px;
    }


    #gallary .gallary_boxs .box1 {
        width: 190px;
        height: 57px;

        margin-bottom: 20px;

    }

    .box1 a {
        font-size: 15px;

    }



    #gallary .gallary_boxs .box2 {
        width: 190px;
        height: 57px;

        margin-bottom: 20px;

    }

    .box2 a {
        font-size: 15px;

    }

    #gallary .gallary_boxs .box3 {
        width: 190px;
        height: 57px;



    }

    .box3 a {
        font-size: 15px;

    }

    .gallary_img .img2 {
        width: 100%;
        padding-top: 60px;
    }

    .gallary_img .img3 {
        width: 100%;
        padding-top: 45px;
    }

    #color {
        padding-top: 60px;
    }

    #color .container {
        padding: 0%;
    }

    #color .color_txt p {
        font-size: 15px;

        width: 559px;
    }

    .col-lg-12.col_nav {
        width: 331px;
    }

    #color .color_txt h1 {
        font-size: 45px;

        width: 567px;

    }

    #color .color_txt p {
        font-size: 13px;

        padding-top: 10px;
    }

    .main_color_slide {
        margin-top: 2px;
    }

    .sliding_imgs {
        position: absolute;
        top: 162px;

    }

    .blu1 img {
        margin-right: 20px;

    }

    .sliding_imgs {

        top: 306px;

    }






    #test {
        margin-top: 99px;
        padding-top: 50px;
        padding-bottom: 77px;
    }

    #test .test_txt h1 {
        font-size: 46px;

    }

    .test_main_slider .single_slider {
        width: 100%;
        padding: 52px 22px 54px 34px;
        border: 1px solid #D8D8D8;
    }

    .single_slider p {
        font-size: 16px;

    }

    .test_main_slider .single_slider {

        padding: 52px 22px 17px 34px;

    }

    .slide_profile2 {

        margin-top: 34px;
    }

    .fa-solid.arrow.nxt.fa-arrow-right.slick-arrow {
        margin-right: -38px;
        margin-top: -40px;

    }

    .fa-solid.arrow.pre.fa-arrow-left.slick-arrow {
        margin-left: -41px;
        margin-top: -40px;

    }

    #subscribe .subscribe_txt h1 {
        font-size: 40px;

    }


    #subscribe {
        margin-top: 45px;
    }

    #subscribe .subscribe_txt p {
        font-size: 14px;

        padding-bottom: 0px;
    }


    .subscribe_submit input {
        width: 257px;
        padding-top: 18px;
        padding-bottom: 14px;
        padding-left: 16px;

        margin-bottom: 20px;
    }

    .subscribe_submit .email {
        font-size: 13px;

    }

    .subscribe_submit button {
        font-size: 14px;

        padding: 15px 28px;

        margin-left: 12px;

    }

    .future_img {
        width: 100%;
    }

    #future {

        margin-top: 109px;
        padding-top: 190px;


    }

    .future_about {
        text-align: center;
    }

    #future .future_about h2 {

        margin-top: 391px;
    }

    #future .future_about .about a {
        font-size: 13px;
    }

    #future .future_about .about {

        gap: 15px;
    }

    .future_about1 {

        margin-top: 60px;
    }

    #future .future_about1 h2 {

        margin-bottom: 27px;
    }

    #future .future_about1 .about a {
        font-size: 12px;

    }

    #future .future_about1 .about {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    #future .future_about2 h2 {

        margin-bottom: 27px;
        margin-top: 60px;
    }

    .future_about2 {
        text-align: center;
    }

    #future .future_about2 .about a {
        font-size: 12px;

    }

    #future .future_about2 .about {

        gap: 18px;
    }

    .future_logo {

        margin-left: 193px;
        padding-top: 50px;
    }


}

/* midium----------- */
@media (min-width: 768px) and (max-width: 991.98px) {



    /* navbar------------------------- */


    .nav_btn {
        display: block;
    }


    .card.card-body {
        margin-left: 360px;
    }




    /* banner---------------------------- */



    #banner .banner_txt {
        width: 100%;
        margin-top: 720px;
    }



    #banner .banner_txt h1 {
        font-size: 60px;
    }


    #banner .banner_txt span {
        font-size: 60px;

    }

    #banner .banner_txt .line {
        width: 100%;
        margin-top: 28px;
    }

    #banner .banner_txt p {
        width: 100%;
        font-size: 18px;

        margin-top: 25px;
    }



    /* ----------sectin1------------- */

    #section1 .sec1_items {
        width: 180px;
        margin-bottom: 15px;



    }

    .sec_row .col-lg-2 {
        width: 32%;
    }

    #section1 {
        display: flex;
    }












    /* ------color------------------------------------ */

    #color .color_slider .sliding_imgs {
        top: 314px;
        left: 23px;
    }

    #color .blu1 {
        width: 100px;
    }




    /* --------------test---------------------- */


    #test .test_main_slider .single_slider p {
        font-size: 15px;


    }









    .shoping2 {


        gap: 0px;

    }

    .sub_hover {
        height: 87%;

        width: 45px;
        font-size: 19px;

        padding: 12px;

    }


    .single_slider .ratingicon {
        font-size: 10px;

    }

    .test_main_slider .single_slider p {
        font-size: 11px;

        margin-bottom: 8px;
    }


    .slide_profile img {
        width: 28px;
        height: 28px;
        margin-right: 15px;
    }

    .slide_profile h2 {
        font-size: 10px;
        font-weight: 600;

    }

    .slide_profile h3 {
        font-size: 10px;

        margin-top: 6px;
    }

    .slide_profile {

        align-items: center;
        margin-top: 25px;
    }

    .slide_profile2 img {
        width: 28px;
        margin-right: 15px;
        height: 28px;
    }

    .slide_profile2 h2 {
        font-size: 10px;
        font-weight: 600;

    }


    .slide_profile2 h3 {
        font-size: 10px;

    }

    .test_main_slider .single_slider {
        padding: 31px 22px 17px 34px;
    }

    .slide_profile h3 {

        margin-bottom: 5px;
    }

    .fa-solid.arrow.nxt.fa-arrow-right.slick-arrow {
        margin-right: -30px;
        margin-top: -6px;

    }

    .fa-solid.arrow.pre.fa-arrow-left.slick-arrow {
        margin-left: -30px;
        margin-top: -6px;

    }








    #info .info_txt h1 {
        font-size: 45px;

    }

    #info .info_txt p {
        font-size: 16px;

        padding-top: 18px;
    }

    #info .info_img {
        width: 100%;
        margin-top: 9px;
    }


    #info .info_t {

        gap: 21px;

        padding-left: 15px;
        padding-top: 27px;
    }

    #info .info_t h2 {
        font-size: 15px;
        font-weight: 300;
    }

    #info .info_t img {
        width: 25px;
        margin-right: 5px;
    }

    #motor {
        padding-top: 90px;
    }

    #motor .motor_txt h1 {
        font-size: 45px;

    }

    #motor .motor_txt p {
        font-size: 15px;

        padding-top: 15px;

    }

    #motor .motor_img {
        width: 100%;
        margin-top: 15px;
    }

    #section1 {
        padding-top: 5px;
    }

    #Accessories {
        padding-top: 85px;
    }

    #Accessories .Accessories_txt h1 {
        font-size: 45px;
    }

    #section1 .sec1_items .sec_item {
        width: 100%;

        margin-bottom: 15px;
    }

    .Accessories_items h1 {
        font-size: 15px;

        padding-top: 42px;

    }

    #Accessories .Accessories_txt p {
        font-size: 15px;

        padding-top: 17px;
    }

    .Accessories_itemss {

        flex-wrap: wrap;
    }

    .Accessories_itemss .accesories_img {
        width: 100%;
        margin-top: -100px;
    }


    .Accessories_items img {
        width: 25px;
        margin-right: 6px;
    }

    .Accessories_items h1 {
        font-size: 27px;
        padding-top: 42px;
    }

    .Accessories_items h2 {
        font-size: 14px;
        padding-bottom: 25px;
    }

    .accesories_p2 {

        gap: 5px;
        margin-top: 65px;

    }

    .p2 h1 {
        width: 100%;
        font-size: 27px;
        margin-top: 25px;

        margin-bottom: 31px;
    }

    .p2 img {
        width: 25px;
        margin-right: 6px;
    }



    .p2 h2 {
        width: 100%;
        padding-bottom: 33px;
    }

    .accesories_p2 {
        flex-wrap: wrap;
    }

    .p2 h2 {

        font-size: 14px;

        padding-bottom: 20px;

    }

    .acce_more_items {
        width: 244px;
        height: 57px;

        border-radius: 15px;

        margin-top: 34px;
    }

    .acce_more_items a {
        font-size: 15px;

    }




    #gallary {
        padding-top: 20px;
    }


    #gallary .gallary_txt h1 {
        font-size: 45px;

    }

    #gallary .gallary_txt p {
        font-size: 15px;

        padding-top: 15px;

    }

    #gallary .gallary_img1 {
        width: 100%;
        padding-top: 1px;
        padding-bottom: 55px;
    }


    #gallary .gallary_boxs .box1 {
        width: 190px;
        height: 57px;

        margin-bottom: 20px;

    }

    .box1 a {
        font-size: 15px;

    }



    #gallary .gallary_boxs .box2 {
        width: 190px;
        height: 57px;

        margin-bottom: 20px;

    }

    .box2 a {
        font-size: 15px;

    }

    #gallary .gallary_boxs .box3 {
        width: 190px;
        height: 57px;



    }

    .box3 a {
        font-size: 15px;

    }

    .gallary_img .img2 {
        width: 100%;
        padding-top: 60px;
    }

    .gallary_img .img3 {
        width: 100%;
        padding-top: 45px;
    }

    #color {
        padding-top: 60px;
    }

    #color .container {
        padding: 0%;
    }

    #color .color_txt p {
        font-size: 15px;

        width: 559px;
    }

    .col-lg-12.col_nav {
        width: 331px;
    }

    #color .color_txt h1 {
        font-size: 45px;

        width: 567px;

    }

    #color .color_txt p {
        font-size: 13px;

        padding-top: 10px;
    }

    .main_color_slide {
        margin-top: 2px;
    }

    .sliding_imgs {
        position: absolute;
        top: 162px;

    }

    .sliding_imgs {

        top: 306px;

    }






    #test {
        margin-top: 99px;
        padding-top: 50px;
        padding-bottom: 77px;
    }

    #test .test_txt h1 {
        font-size: 46px;

    }

    .test_main_slider .single_slider {
        width: 100%;
        padding: 52px 22px 54px 34px;
        border: 1px solid #D8D8D8;
    }

    .single_slider p {
        font-size: 16px;

    }

    .test_main_slider .single_slider {

        padding: 52px 22px 17px 34px;

    }

    .slide_profile2 {

        margin-top: 34px;
    }

   

    #subscribe .subscribe_txt h1 {
        font-size: 40px;

    }


    #subscribe {
        margin-top: 45px;
    }

    #subscribe .subscribe_txt p {
        font-size: 14px;

        padding-bottom: 0px;
    }


    .subscribe_submit input {
        width: 257px;
        padding-top: 18px;
        padding-bottom: 14px;
        padding-left: 16px;

        margin-bottom: 20px;
    }

    .subscribe_submit .email {
        font-size: 13px;

    }

    .subscribe_submit button {
        font-size: 14px;

        padding: 15px 28px;

        margin-left: 12px;

    }


    /* ----------futur-------------- */

    img {
        width: 80%;

    }

    #future {

        margin-top: 109px;
        padding-top: 190px;


    }

    .future_about {
        text-align: left;
    }

    #future .future_about h2 {
        margin-top: 239px;
    }

    #future .future_about .about a {
        font-size: 13px;
    }

    #future .future_about .about {

        gap: 15px;
    }

    .future_about1 {
        margin-top: -213px;
    }

    #future .future_about1 h2 {

        margin-bottom: 27px;

        margin-bottom: 70px;

    }

    #future .future_about1 .about a {
        font-size: 12px;

    }

    #future .future_about1 .about {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    #future .future_about2 h2 {
        margin-bottom: 70px;
        margin-top: 60px;
    }

    .future_about2 {
        text-align: center;
        margin-left: 464px;
        margin-top: -268px;
    }

    #future .future_about2 .about a {
        font-size: 12px;

    }

    #future .future_about2 .about {

        gap: 18px;
    }

    .future_logo {
        margin-left: 51px;
        padding-top: 0px;
    }
















    .main_menu .items {
        font-size: 13px;

        gap: 20px;

    }

    .main_menu .sing_up a {
        font-size: 12px;

        padding: 12px 16px;

        border-radius: 8px;

        margin-top: 20px;
    }

    [data-aos^="fade"][data-aos^="fade"].aos-animate {

        width: 100%;
    }


}







/* large----------- */
@media (min-width: 992px) and (max-width: 1199.98px) {





    /* ----------banner------- */

    #banner .banner_txt h1 {
        font-size: 65px;

    }

    #banner .banner_txt span {
        font-size: 65px;

    }





    /* --------section1---------- */
    #section1 .sec1_items .sec_item {
        width: 146px;

    }

    /* ---------------info ----------------- */

    #info .info_img {
        width: 515px;

    }
    #info .info_t img {
        width: 30px;
        margin-right: 3px;
    }
    #info .info_t h2 {
        font-size: 15px;
   
    }
    #info .info_t {
   
        gap: 30px;
     
        padding-left: 134px;
        
    }

/* -------------motor------------- */



#motor .motor_img {
	width: 100%;
	margin-top: 60px;
}


   /* -------accesorries---------- */

   #Accessories {
	padding-top: 150px;
}
.Accessories_itemss .accesories_img {
	width: 50%;
	margin-top: 169px;
}
.Accessories_items2 img {
	width: 100%;
}

.Accessories_items2 {
	width: 398px;
	margin-top: 64px;
}

.p2 {

	margin-left: -145px;
}





/* ------------gallary----------- */

#gallary .gallary_img1 {
	width: 489px;
	padding-top: 250px;
	
}

#gallary .gallary_boxs .box1 {
	width: 460px;
}

#gallary .gallary_boxs .box2 {
	width: 460px;
}

#gallary .gallary_boxs .box3{
	width: 460px;
}
.gallary_img .img2 {
	width: 450px;

	margin-left: 20px;
}
.gallary_img .img3 {
	width: 450px;

	margin-left: 20px;
    margin-top: -45px;
}








/* -----------color----------- */
.sliding_imgs {
	
	top: 518px;
	left: 46px;
}






/* -----------test------------- */
.test_main_slider .single_slider {
	width: 312px;
	
}
.pre {

	left: 45%;
}
.nxt {
	
	right: 45%;
}


/* -----------subscribe---------- */

#subscribe {
	margin-top: 120px;
}




/* ---------future--------- */

#future {

	padding-bottom: 45px;
	
}
.future_img {
	width: 530px;
	
}













}